/*
c) ememviit, 2026
/ css-script todo-list sovellukselle
*/
body {
    font-family: Arial, sans-serif;
    background: #0a8853;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    background: rgb(232, 245, 214);
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 0 5px rgba(0,0,0, 15);
}

h1 {
    text-align: center;
    color:rgb(216, 148, 21);
    font-size: 50px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h2{
    text-align: center;
    font-size: 35px;
    color:rgb(216, 148, 21);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

h3{
    text-align: center;
    color:rgb(36, 26, 7);
}

.input-area{
    display: flex;
    gap: 10px;
    
}

input {
    padding: 10px;
    flex: 1;
    text-align: center;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

ul {
    padding: 0;
    margin-top: 20px;
    list-style: none;

}

.task-item,
.history-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    background: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.task-item span,
.history-item span {
    flex: 1;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.delete-btn {
    background: rgb(221, 24, 24);
    color: white;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
}

#emptyMessage {
    text-align: center;
    color:rgb(204, 10, 10);
    margin-top: 20px;
    font-size: 20px;

}